<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <title>Главная страница</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/table.css"/>
</head>
<body style="background-color: #E6E6FA ; margin-left: 90px; margin-top: 45px; font-size: large">
<h1 th:text="${'Просмотр модуля ' + showFolder.nameFolder}">VALUE</h1>
<a th:text = "${'Оставшееся время до повторения: ' + timeLeft}" style="font-style: italic"></a>
<br/>
<br/>
<table class="table">
    <tr>
        <td>Слово</td>
        <td>Перевод</td>
        <td>Пример употребления</td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="word : ${words}">
        <td th:text="${word.word}"></td>
        <td  th:text="${word.translation}"></td>
        <td  th:text="${word.context}"></td>
        <td><a th:href="@{/vocabulary/{id}/edit (id=${word.id})}">Редактировать</a></td>
        <td><a th:href="@{/vocabulary/{id} (id=${word.id})}">Удалить</a></td>
    </tr>
</table>
<br/>
<form th:action="@{/learning/reset}" method="GET">
    <input type="hidden" name="folder" th:value="${showFolder.id}" />
    <button type="submit" style="font-size: medium">Сброс интервального повторения</button>
</form>
<br/>
<form th:action="@{/vocabulary/new}" method="GET">
    <input type="hidden" name="id" th:value="${showFolder.id}" />
    <button type="submit" style="font-size: medium">Создать новое слово</button>
</form>
<br/>
<span th:unless="${words.isEmpty}">
    <form th:action="@{/learning/{id} (id=${showFolder.id})}" method="GET">
        <input type="hidden" name="id" th:value="${showFolder.id}" />
        <button type="submit" style="font-size: medium">Изучать модуль</button>
    </form>
</span>
<br/>
<form th:action="@{/learning/statistics}" method="GET">
    <input type="hidden" name="folder" th:value="${showFolder.id}" />
    <button type="submit" style="font-size: medium">Просмотр статистики модуля</button>
</form>
<br/>
<form action="/folders" method="get">
    <button type="submit" style="font-size: medium">Вернуться в главное меню</button>
</form>
</body>
</html>