p {
    color: darkgreen;
    font-family: sans-serif;
    background-color: crimson;
}
table {
    border: 3px solid #B0C4DE;
    margin-bottom: 20px;
    border-radius: 7px;
}
td {
    padding-left: 10px;
    padding-right: 10px;
}
tr {
    font-weight: normal;
    background: #B0C4DE;
    border: 2px solid;
}
