<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Изменить название набора слов</title>
</head>
<body style="background-color: #E6E6FA ; margin-left: 90px; margin-top: 45px; font-size: large">
<h1>Изменить название набора слов</h1>
<br/>
<form th:method="PATCH" th:action="@{/folders/{id} (id=${folder.id})}" th:object="${folder}">
    <input type="hidden" id="idfolder" th:field="*{id}"/>
    <input type="hidden" id="iduserfk" th:field="*{idUserFK}"/>
    <label for="namefolder">Новое имя: </label>
    <input type="text" th:field="*{nameFolder}" id="namefolder" required maxlength="45"/>
    <br/>
    <br/>
    <input type="submit" value="Сохранить" style="font-size: medium"/>
</form>
<br/>
<form th:methog="GET" th:action="@{/folders}">
    <input type="submit" value="Отменить" style="font-size: medium"/>
</form>
</body>
</html>